<Form @data={{this.initialData}} @onSubmit={{this.save}} as |form data|>

  {{#if this.successMessage}}
    <div class="alert alert-success">
      {{this.successMessage}}
      <br />
      <strong>Invite URL:</strong>
      <a href={{this.inviteUrl}} target="_blank">
        {{this.inviteUrl}}
      </a>
    </div>
  {{/if}}

  {{#if this.errorMessage}}
    <div class="alert alert-error">
      {{this.errorMessage}}
    </div>
  {{/if}}

  <!-- IS EXPIRY DATE -->
  <form.Field
    @name="is_expiry_date"
    @title="Use Expiry Date"
    as |field|
  >
    <field.Checkbox />
  </form.Field>

  {{#if data.is_expiry_date}}
    <!-- EXPIRATION DATE -->
    <form.Field
      @name="expiration_date"
      @title="Expiration Date"
      as |field|
    >
      <field.Input @type="date" />
    </form.Field>
  {{else}}
    <!-- PLAN TYPE -->
    <form.Field
      @name="plan_type"
      @title="Plan Type"
      as |field|
    >
      <field.Select
        @options={{this.planTypeOptions}}
      />
    </form.Field>

    <!-- MEMBERSHIP DURATION -->
    <form.Field
      @name="membership_duration_value"
      @title="Membership Duration"
      as |field|
    >
      <field.Input @type="number" min="1" />
    </form.Field>
  {{/if}}

  <!-- METADATA JSON -->
  <form.Field
    @name="metadata_json"
    @title="Metadata (JSON)"
    as |field|
  >
    <field.Textarea rows="6" />
  </form.Field>

  <form.Actions>
    <form.Submit @disabled={{this.isSaving}} />
  </form.Actions>

</Form>
