<Form @data={{this.initialData}} @onSubmit={{this.save}} as |form data|>

  {{#if this.successMessage}}
    <div class="alert alert-success">
      {{this.successMessage}}
      <br />
      <strong>Invite URL:</strong>
      <a href={{this.inviteUrl}} target="_blank">
        {{this.inviteUrl}}
      </a>
    </div>
  {{/if}}

  {{#if this.errorMessage}}
    <div class="alert alert-error">
      {{this.errorMessage}}
    </div>
  {{/if}}

  <form.Field
              @name="description"
              @title={{i18n "user.invited.invite.description"}}
              @format="large"
              @validation={{this.descriptionValidation}}
              as |field|
            >
       <field.Input />
  </form.Field>
  <form.Field
              @name="restrict_to"
              @title={{i18n "user.invited.invite.restrict"}}
              @format="large"
              @onSet={{this.handleRestrictToChange}}
              as |field|
            >
              <field.Input
                placeholder={{i18n
                  "user.invited.invite.email_or_domain_placeholder"
                }}
              />
  </form.Field>

  <form.Field
                @name="maxRedemptions"
                @title={{i18n "user.invited.invite.max_redemptions_allowed"}}
                @type="number"
                @format="small"
                @validation="required"
                as |field|
              >
                <field.Input
                  type="number"
                  min="1"
                  max={{this.maxRedemptionsAllowedLimit}}
                />
  </form.Field>

  <form.Field
                @name="expire_after"
                @title={{i18n "user.invited.invite.expires_after"}}
                @format="large"
                @validation="required"
                as |field|
              >
                <field.Select as |select|>
                  {{#each this.expireAfterOptions as |option|}}
                    <select.Option
                      @value={{option.value}}
                    >{{option.text}}</select.Option>
                  {{/each}}
                </field.Select>
  </form.Field>

  <!-- IS EXPIRY DATE -->
  <form.Field
    @name="is_expiry_date"
    @title="Use Expiry Date"
    as |field|
  >
    <field.Checkbox />
  </form.Field>

  {{#if data.is_expiry_date}}
    <!-- EXPIRATION DATE -->
    <form.Field
      @name="expiration_date"
      @title="Expiration Date"
      as |field|
    >
      <field.Input @type="date" />
    </form.Field>
  {{else}}
    <!-- PLAN TYPE -->
    <form.Field
      @name="plan_type"
      @title="Plan Type"
      as |field|
    >
      <field.Select as |select|>
       {{#each this.planTypeOptions as |option|}}
         <select.Option @value={{option.id}}>
          {{option.name}}
         </select.Option>
       {{/each}}
      </field.Select>
    </form.Field>

    <!-- MEMBERSHIP DURATION -->
    <form.Field
      @name="membership_duration_value"
      @title="Membership Duration"
      as |field|
    >
      <field.Input @type="number" min="1" />
    </form.Field>
  {{/if}}

  <!-- METADATA JSON -->
  

  <form.Section @title="Metadata">
    <form.Container>
      <form.Button
        @label="Add_metadata"
        @action={{fn this.addMetadata form data}}
      />
    </form.Container>

    {{#each data.metadata as |pair index|}}
      <form.Container class="invite-metadata-row">
        <input
          type="text"
          class="input"
          placeholder="Key"
          value={{pair.key}}
          {{on "blur" (fn this.updateMetadata form data index "key")}}
        />

        <textarea
         class="input"
         rows="6"
         {{on "blur" (fn this.updateMetadata form data index "value")}}
        >{{pair.value}}</textarea>

       

        <form.Button
          class="btn-danger"
          @label="Remove"
          @action={{fn this.removeMetadata form data index}}
        />
      </form.Container>
    {{/each}}
  </form.Section>

  <form.Actions>
    <form.Submit @disabled={{this.isSaving}} />
  </form.Actions>

</Form>
