<Form @data={{this.initialData}} @onSubmit={{this.save}} as |form data|>
  {{#if this.successMessage}}
    <div class="alert alert-success">
      {{this.successMessage}}
      <br />
      <strong>Invite URL:</strong>
      <a href={{this.inviteUrl}} target="_blank">
        {{this.inviteUrl}}
      </a>
    </div>
  {{/if}}

  {{#if this.errorMessage}}
    <div class="alert alert-error">
      {{this.errorMessage}}
    </div>
  {{/if}}
  <form.Field
    @name="email"
    @title="Email"
    @validation="required"
    @format="large"
    as |field|
  >
    <field.Input @type="email" />
  </form.Field>

  <form.Field
    @name="expiration_date"
    @title="Expiration Date"
    @validation="required"
    @format="large"
    as |field|
  >
    <field.Input @type="date" />
  </form.Field>

  <form.Section @title="Metadata">
    <form.Container>
      <form.Button
        @label="Add_metadata"
        @action={{fn this.addMetadata form data}}
      />
    </form.Container>

    {{#each data.metadata as |pair index|}}
      <form.Container class="invite-metadata-row">
        <input
    type="text"
    class="input"
    placeholder="Key"
    value={{pair.key}}
    {{on "input" (fn this.updateMetadata index "key")}}
  />

    <input
    type="text"
    class="input"
    placeholder="Value"
    value={{pair.value}}
    {{on "input" (fn this.updateMetadata index "value")}}
  />

        <form.Button
          class="btn-danger"
          @label="Remove"
          @action={{fn this.removeMetadata form data index}}
        />
      </form.Container>
    {{/each}}
  </form.Section>

  <form.Actions>
    <form.Submit @disabled={{this.isSaving}} />
  </form.Actions>
</Form>
