<Form @data={{this.initialData}} @onSubmit={{this.save}} as |form data|>
  <form.Field
    @name="email"
    @title="Email"
    @validation="required|email"
    @format="large"
    as |field|
  >
    <field.Input />
  </form.Field>

  <form.Field
    @name="expiration_date"
    @title="Expiration Date"
    @validation="required|email"
    @format="large"
    as |field|
  >
    <field.Input @type="date" />
  </form.Field>

  <form.Section @title="Metadata">
    <form.Container>
      <form.Button
        @label="Add metadata"
        @action={{fn this.addMetadata form data}}
      />
    </form.Container>

    {{#each data.metadata as |pair index|}}
      <form.Container class="invite-metadata-row">
        <form.Field
          @name={{concat "metadata." index ".key"}}
          @title="Key"
          as |field|
        >
          <field.Input />
        </form.Field>

        <form.Field
          @name={{concat "metadata." index ".value"}}
          @title="Value"
          as |field|
        >
          <field.Input />
        </form.Field>

        <form.Button
          @label="Remove"
          class="btn-danger"
          @action={{fn this.removeMetadata form data index}}
        />
      </form.Container>
    {{/each}}
  </form.Section>

  <form.Actions>
    <form.Submit @disabled={{this.isSaving}} />
  </form.Actions>
</Form>
