<template>
    <DModal
      @title=""
      @closeModal={{@closeModal}}
      @inline={{@inline}}
      class={{if this.isMaximized "fullscreen-modal"}}
    >


    <:aboveHeader></:aboveHeader>
          <:headerAboveTitle></:headerAboveTitle>
          <:headerBelowTitle>
          <div><h2>Invitations for request #{{model.id}} — {{this.inviteDetails.invites.length}} item(s)</h2></div>
          <DButton
          @icon={{if this.isMaximized "compress" "expand"}}
          @action={{this.toggleMaximize}}
          class="btn-flat btn-transparent modal-close"
        />
         <DButton
            @icon="copy"
            @action={{this.copyToClipboard}}
            class="{{if this.copied 'btncopy' ''}}   btn-flat btn-transparent  modal-close"
            title="Copy"
          />
        </:headerBelowTitle>
          <:belowHeader></:belowHeader>


     <:body>
    
     {{#if this.loading}}
      <p>Loading...</p>
    {{else}}

      <table class="invite-grid" style="width:100%">
        <thead>
          <tr>
            <th style="padding:10px;">List of unique invite URLs:</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.inviteDetails.invites as |item|}}
            <tr>
              <td style="padding:10px;">{{this.inviteDetails.baseUrl}}/invites/{{item.invite_key}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    {{/if}}

     <style>

.fullscreen-modal {
  width: 98vw !important;
  max-width: 98vw !important;
  height: 95vh !important;

          --modal-max-width: 98vw !important;
        --modal-width: 98vw !important;
        --modal-min-width: 98vw !important;
}

.modal-header-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-modal__header{
  justify-content: end!imporant;
}

.d-modal__header > div:first-child

 {
    flex: 1;
}

.btncopy{
  background-color: green!important;
}

</style>

     </:body>
  <:footer>
    <DButton
      @label="Close"
      @action={{@closeModal}}
      class="btn-primary"
    />
  </:footer>

 
 </DModal>
</template>
